/* body {
  margin: 0;
}

#app-canvas {
  position: absolute;
  left: 0;
  top: 0;
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000; /* 선택사항: 캔버스 주변 배경색 */
}

#app-canvas {
  position: relative; /* absolute에서 relative로 변경 */
}
