@import "tailwindcss";

@font-face {
  font-family: "PixelifySans";
  src: url("/fonts/PixelifySans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "PixelifySans", "Pixelify Sans", monospace;
  }
}

body {
  margin: 0;
  font-family:
    "PixelifySans",
    "Pixelify Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
